@model IEnumerable< WebApiPlayground.UI.Models.DTO.WalkDto>

@{
}

<h1 class="mt-3">Walks</h1>

<div class="d-flex justify-content-end m-3">
    <a class="btn btn-primary" asp-action="Add" asp-controller="Walks">Add Walk</a>
</div>

<table class="table table-bordered table-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>LengthInKm</th>
            <th>Image</th>
            <th>Region</th>
            <th>Difficulty</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var walk in Model)
        {
            <tr>
                <td>@walk.Id</td>
                <td>@walk.Name</td>
                <td>@walk.Description</td>
                <td>@walk.LengthInKm</td>
                <td>@walk.WalkImageUrl</td>
                <td>@walk.Region.Name</td>
                <td>@walk.Difficulty.Name</td>
                <td>
                    <a class="btn btn-light" asp-controller="Walks" asp-action="Edit" asp-route-id="@walk.Id"> Edit </a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Walks" asp-action="Delete" asp-route-id="@walk.Id"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
